@page
@model WebProject.Areas.Admin.Pages.EditModel
@{
    ViewData["Title"] = "Edit User";
}
<div class="col-md-4">
    <form id="editForm" asp-page-handler="Edit" method="post">
        <h2>Edit user</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input type="hidden" name="user" value="@Model.user.Id" />
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" value="@Model.user.Email"/>
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    </form>
</div>